{{ if strings.Contains site.BaseURL "docs.modelplane.ai" }}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YP8274QQR9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-YP8274QQR9', {
    'content_group': 'Docs'
  });
</script>
<!-- Common Room -->
<script>
  (function() {
    if (typeof window === 'undefined') return;
    if (typeof window.signals !== 'undefined') return;
    var script = document.createElement('script');
    script.src = 'https://cdn.cr-relay.com/v1/site/c3ff1a35-122c-4945-9c2a-fc368b45cf1e/signals.js';
    script.async = true;
    document.head.appendChild(script);
  })();
</script>
{{ end }}
