{{ define "main" }}
<div class="bd-layout docs-container">
    <aside class="bd-sidebar">
      <div class="offcanvas-lg offcanvas-start bd-sidebar-container" tabindex="-1" id="bdSidebar" aria-labelledby="bdSidebarOffcanvasLabel">
        <div class="offcanvas-header pb-4 border-bottom">
          <div class="d-flex offcanvas-title fw-bold" id="bdNavbarOffcanvasLabel">
            Modelplane Documentation
          </div>
          <div class="d-flex"><button type="button" class="btn-close bi align-self-center p-0" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#bdSidebar"></button></div>
        </div>
        <div class="offcanvas-body">
          <div class="container-fluid p-0">
              {{ partialCached "search-button" . }}
          </div>
      </div>
    </aside>

    <main class="bd-main order-1">
      <div class="bd-intro pt-2 ps-lg-2">
        <div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
          <div class="mb-3 mb-md-0 d-flex">
          </div>
          <h1 class="bd-title mb-0" id="content">Page not found</h1>
        </div>
      </div>

        <div class="bd-content ps-lg-2 DocSearch-content">
          The page you're looking for couldn't be found.
          <br /><br />
          Try one of the following sections:
          <br /><br />

          <strong>Documentation:</strong><br />
          {{ range .Site.RegularPages.ByWeight }}
              <a href="{{ .Permalink }}">{{ .Title }}</a><br />
          {{ end }}

          <br />
          <strong>Other Resources:</strong><br />
          <a href="https://github.com/modelplaneai/modelplane">GitHub Repository</a><br />
          <a href="https://github.com/modelplaneai/modelplane/issues">Issues</a><br />
        </div>
    </main>
  </div>

{{ end }}
